@import "../../style.css";
.dropdown {
      position: relative;
      display: inline-block;
}
.dropdownMenu {
      position: absolute;
      top: 32px;
      right: 0;
      min-width: 160px;
      background-color: var(--color-white);
      box-shadow: 0 8px 48px -16px rgba(grey);
      list-style-type: none;
      padding-inline-start: 0px;
}
.dropdownItem {
      padding: 16px;
      font-size: 12px;
      font-weight: normal;
      cursor: pointer;
}
