@import "../../style.css";

.button {
  margin: 20px 0;
  width: 90%;
  padding: 7px;
  font: inherit;
  border: 1px solid var(--color-orange);
  background-color: transparent;
  color: var(--color-orange);
  cursor: pointer;
  outline: none;
  border-radius: 7px;
  &:hover {
    color: var(--color-white);
    background-color: var(--color-orange);
    cursor: pointer;
  }
}
