:root {
  --color-light-blue: #009DAE;
  --color-orange: #F8A488;
  --color-purple: #C9A2FA;
}
.main-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.form {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 350px;
  margin: 20px;
  align-items: center;
  display: block;
  justify-content: center;
  padding: 20px;
      &__title {
        display: block;
        padding: 15px;
        margin: 10px auto;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
}

.my-link {
  color: var(--color-orange);
  text-decoration: none;
  }
